body {
    font-family: 'Droid Sans', Verdana, Geneva, sans-serif;
	font-size: 13px;
	background-color: #F2F2F2;
}


a {
	text-decoration: none;
	&:link, &:visited {
		color: rgb(77,77,77);
	}
	&:hover, &:active {
		color: rgb(0,0,0);
	}
}

.kern {
	letter-spacing:-0.15em;
}
